<div id="new_comment">
  <h2>New Comment</h2>
    
  <%= form_for [@commentable, @comment] do |form| %>
    <ol class="formList">
      <div class="row">
        <%= form.label :body, "Comment:" %>
        <%= form.text_area :body, :rows => 3 %>
      </div>
      <div class="submit_row row">
        <%= submit_tag "Save" %>
      </div>  
    </ol>  
  <% end %>
</div>