<li class="photoalbum_mini">
  <%= image_tag photoalbum_mini.display_item.picture.url(:preview), :alt => photoalbum_mini.pictures.first.title if photoalbum_mini.display_item %>
  <h3><%= link_to photoalbum_mini.name, photoalbum_path(photoalbum_mini) %></h3>
</li>