<div class="dummy_nav_spacer"></div>
<h1>Photo Albums</h1>

<% if @photoalbums.empty? %>
  <p>There are currently no photoalbums.</p>
<% else %>
  <ol class="list">
    <%= render :partial => 'photoalbum_mini', :collection => @photoalbums %>
  </ol>
<% end %>

<%= will_paginate %>
