<div id="photoalbums_page">
  <h1>Photoalbums</h1>

  <% if @photoalbums.empty? %>
    <p>There are currently no photoalbums.</p>
  <% else %>
    <ol class="list">
      <%= render :partial => 'photoalbum_mini', :collection => @photoalbums %>
    </ol>
  <% end %>

  <%= will_paginate %>
</div>
