<div class="header_block full_width">
  <h1 class="half_width left_side">Photo Albums</h1>
</div>

<% if @photoalbums.empty? %>
  <p>There are currently no photoalbums.</p>
<% else %>
  <ol class="list">
    <%= render :partial => 'photoalbum_mini', :collection => @photoalbums %>
  </ol>
<% end %>

<%= will_paginate %>
