<div id="edit_picture admin">
	<div class="title_block clearfix">
		<h1>Edit Picture</h1>
		<%= link_to 'Back to Pictures', admin_pictures_path, :class => 'back_link' %>
	</div>

	<%= render :partial => 'shared/flash_messages' %>

	<%= render :partial => 'form' %>
</div>