<div id="new_picture admin">
	<div class="title_block clearfix">
		<h2>New Picture</h2>
		<%= link_to 'Back to Pictures', admin_pictures_path, :class => 'back_link' %>
	</div>

	<%= render :partial => 'shared/flash_messages' %>

	<%= render :partial => 'form' %>
</div>