<div class="available_oauth_providers">
  <p>Don't want to fill out all the forms? Just <%= verb %> with one of your favourite web apps:</p>
  <ul>
    <li><%= link_to image_tag("oauth_providers/twitter_64.png", :size => "64x64"), "/auth/twitter", :class => "auth_provider" %></li>
  </ul>
</div>