<% if @categories.any? %>
  <nav id="category_nav" class="subnav">
    <h3>Connect:</h3>
    <ul>
      <li><%= link_to "Twitter", "http://twitter.com/themitchelluk" %></li>
      <li><%= link_to "Github", "http://github.com/Themitchell" %></li>
      <li><%= link_to "Soundcloud", "http://soundcloud.com/themitchell" %></li>
      <li><%= link_to "LinkedIn", "http://www.linkedin.com/pub/andrew-mitchell/30/86a/b31" %></li>
    </ul>
  </nav>
<% end %>
