<% if @categories.any? %>
  <nav id="category_nav" class="subnav">
    <h3>Connect:</h3>
    <ul>
      <li><%= link_to "Twitter", "http://twitter.com/themitchelluk" %></li>
    </ul>
  </nav>
<% end %>
