<div id="side">
	<div id="spacer"></div>
	
	<div id="categories">
		<p class="section_title">Categories</p>
		<ul>
			<li>Category 1</li>
			<li>Category 2</li>
			<li>Category 3</li>
			<li>Category 4</li>
		</ul>
	</div>
	
	<div id="tags">
		<p class="section_title">Tags</p>
		<p class="tags">All Your List Of Tags Can Go Here To Add Keywords To The Page For SEO Stuff See Look Isnt It Nice</p>
	</div>
	
	<div id="links">
		<p class="section_title">Useful Links</p>
		<ul>
			<li>Link 1</li>
			<li>Link 2</li>
			<li>Link 3</li>
			<li>Link 4</li>
		</ul>
	</div>
	
	<div id="connect">
		<p class="section_title">Connect with us..</p>
		<ul>
			<li><img src="/images/connect/twitter.gif"></li>
			<li><img src="/images/connect/facebook.gif"></li>
			<li><img src="/images/connect/flickr.gif"></li>
			<li><img src="/images/connect/myspace.gif"></li>
			<li><img src="/images/connect/vimeo.gif"></li>
			<li><img src="/images/connect/lastfm.gif"></li>
		</ul>
	</div>		
</div>