<div class="post_index admin">
	<div class="title_block clearfix">
		<h2>Posts Index</h2>
		<%= link_to 'New Post', new_admin_post_path, :class => 'new_link' %>
	</div>
	
	<table>
		<tr>
			<th></th>
		</tr>
		
		<% unless @posts.empty? %>
			<%= render :partial => 'post', :collection => @posts %>	
		<% else %>
			Currently there are no posts
		<% end %>
	</table>
</div>