<div class="post">
	<h3><%= link_to post.title, post_path(post) %></h3>
	<p class="author">Posted by <span><%= post.author.username %></span> on <span><%= published_on_text(post) %></span></p>
	<p class="body"><%= post.body %></p>
</div>
	