<% content_for :aside do %>
  <%= render 'shared/category_nav' %>
<% end %>

<%= bootstrap_page_header :h1, "Blog" %>

<% if @posts.empty? %>
	<p>There are currently no posts.</p>
<% else %>
  <ol id="posts" class="list row-fluid">
    <%= render :partial => 'post_mini', :collection => @posts %>
	</ol>
<% end %>

<%= will_paginate %>
