<% if @employment_history.any? %>
  <section name="employment_history" id="employment_history">
    <%= render :partial => 'about_nav' %>
    <h1>Employment History</h1>
    
    <ol class="list full_width">
      <%= render :partial => "employment_history_item", :collection => @employment_history %>
    </ol>
  </section>
<% end %>
