<% content_for :aside do %>
  <%= render :partial => 'about_nav' %>
<% end %>

<% if @employment_history.any? %>
  <section name="employment_history" id="employment_history">
    <h1>Employment History</h1>

    <ol class="list">
      <%= render :partial => "employment_history_item", :collection => @employment_history %>
    </ol>
  </section>
<% end %>
