<% if @employment_history.any? %>
  <section name="employment_history" id="employment_history">
    <%= render :partial => 'about_nav' %>
    <%= header('Employment History') %>

    <ol class="list">
      <%= render :partial => "employment_history_item", :collection => @employment_history %>
    </ol>
  </section>
<% end %>
