<% if @personal_statement && @personal_statement.body.present? %>
  <section name="about" id="about">
    <%= render :partial => 'about_nav' %>
    <h1>About</h1>
    
    <div id="about_me" class="half_width left_side">
    	<%= @personal_statement.body.html_safe %>
    </div>
  </section>
<% end %>
