<% content_for :aside do %>
  <%= render :partial => 'about_nav' %>
<% end %>

<% if @personal_statement && @personal_statement.body.present? %>
    <section id="about_me">
      <h1>About Me</h1>
      <%= @personal_statement.body.html_safe %>
    </section>
<% end %>
