<% content_for :aside do %>
  <%= render :partial => 'about_nav' %>
<% end %>

<h1>About Me</h1>

<% if @personal_statement && @personal_statement.body.present? %>
    <div id="about_me">
      <%= @personal_statement.body.html_safe %>
    </div>
<% end %>
