section#about,
section#employment_history,
section#educational_qualifications {
  float:                  left;
  height:                 100%;
  min-width:              100%;
}

#about_me {
  padding-left:           4%;
}

