@import 'mixins';

h1, h2, h3, h4 {
  font-weight:              100;
  margin-bottom:            1em;
}

h1 {
  font-size:                2em;
}

h2 {
  font-size:                1.6em;
}

h3 {
  font-size:                1.2em;
}

h4 {
  font-size:                1em;
}

p, td {
  font-size:                0.8em;
  font-weight:              $font-weight-light;
  line-height:              1.75em;
  margin-bottom:            1.2em;
}

a {
  color:                    $brand-color;

  :hover {
    color:                  darken($brand-color, 20%);
  }
}

form {
  text-align:               left;

  label, input, textarea {
    display:                block;
  }

  label {
    margin-bottom:          5px;

    input {
      display:              inline;
    }
  }

  input, textarea {
    @include border_radius(4px);
    margin-bottom:          15px;
    line-height:            2em;
    min-width:              250px;
  }
}

table {
  td {
    padding:                1px 3px;
  }
}

ol, ul {
  list-style:               none;

  h1, h2, h3, h4, p {
    margin-bottom:          0.5em;
  }
}
