* {
  margin:                               0;
  padding:                              0;
  border:                               0;
  font:                                 inherit;
  vertical-align:                       baseline;
}

html,body {
	height:                               100%; /* needed for container min-height */
}

body {
  background-color:                   $bg-color;
  font-family:                        $main-font;
  font-size:                          100%;
  font-weight:                        100;
  letter-spacing:                     0.1em;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display:                            block;
}

ol, ul {
  list-style:                         none;
}

table {
  border-collapse:                    collapse;
  border-spacing:                     0;
}

h1 { font-size: 2.5em;    margin-bottom: 1em;    } /* 40px/16 = 2.25em   */
h2 { font-size: 1.875em;  margin-bottom: 0.70em; } /* 30px/16 = 1.875em  */
h3 { font-size: 1.5em;    margin-bottom: 0.4em;  } /* 24px/16 = 1.5em    */
h4 { font-size: 1.25em;   margin-bottom: 0.2em;  } /* 20px/16 = 1.25em   */
h5 { font-size: 1.125em;  margin-bottom: 0.1em;  } /* 18px/16 = 1.125em  */
p  { font-size: 1em;      margin-bottom: 1em;    } /* 16px/16 = 1em      */

@media all and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
  h1 { font-size: 1.875em;  }                      /* 40px/16 = 2.25em   */
  h2 { font-size: 1.5em;    }                      /* 30px/16 = 1.875em  */
  h3 { font-size: 1.25em;   }                      /* 24px/16 = 1.5em    */
  h4 { font-size: 1.125em;  }                      /* 20px/16 = 1.25em   */
  h5 { font-size: 1em;      }                      /* 18px/16 = 1.125em  */
  p  { font-size: 0.75em;   }                      /* 16px/16 = 1em      */
}

a {
  color:                              $decor-color;
  text-decoration:                    $decor;

  &:hover {
    color:                            $decor-alt-color;
  }
}


/* LAYOUT ELEMENTS */
#container {
  position:                           relative;         /* needed for footer positioning*/
  margin:                             0 auto;           /* center, not in IE5 */
  height:                             auto !important;  /* real browsers */
  height:                             100%;             /* IE6: treaded as min-height*/
  min-height:                         100%;             /* real browsers */
  width:                              100%;
  overflow:                           hidden;
}

header, nav, footer {
  width:                              100%;
  background-color:                   $bg-alt-color;
  color:                              $bg-color;
  
  a {
    height:                           100%;
    color:                            $bg-color;
    text-decoration:                  $decor;

    &:hover {
      color:                          $decor-alt-color;
    }
  }
}

header {
  height:                             10%;
  overflow-y:                         auto;
  
  #main_logo, #user_info {
    padding-top:                      1%;
    padding-bottom:                   1%;
  }
  #main_logo {
    float:                            left;
    font-size:                        2em;
  }
  #user_info {
    float:                            right;
  }
}

nav {
  overflow-y:                         auto;
  padding:                            1% 0;
  
  ul li {
    float:                            left;
    
    a {
      display:                        block;
    }
  }
  &#topnav {
    ul li {
      text-align:                     center;
      width:                          20%;
    }
  }
  &.subnav {
    position:                         absolute;
    background-color:                 transparent;
    padding-left:                     0;
    padding-right:                    0;
    width:                            92%;

    ul li {
      float:                          right;
      margin-left:                    2%;
      padding-left:                   2%;
      
      a {
        color:                        $decor-color;
        text-decoration:              $decor;

        &:hover {
          color:                      $decor-alt-color;
        }
      }
    }
  }
}

#content {
  padding:                            1% 4%;
  width:                              92%;
  position:                           relative;
  height:                             70%;
  
  h1 {
    top:                              6%;
  }
}

footer {
  position:                           absolute;
  height:                             7%;
  width:                              100%;
  bottom:                             0;
  padding:                            2% 0 1% 0;
  text-align:                         center;
  font-size:                          0.7em;
  line-height:                        0.6em;
}
