@import 'mixins';

@media (min-width: $grid-width) {
  .container {
    width:                $grid-width;
    margin-left:          auto;
    margin-right:         auto;
    *zoom:                1;
  }

  #main {
    #page-content, aside {
      margin:             $grid-gutter-width/2;
    }

    #page-content {
      width:              $nine-col-width;
    }

    aside {
      width:              $three-col-width;
    }
  }
}

@media (min-width: $mobile-landscape-width), (max-width: $grid-width) {
  #main {
    #page-content, aside {
      // margin:             $grid-gutter-width/2;
    }

    #page-content {
      width:              75%;
    }

    aside {
      width:              20%;
    }
  }
}

@media screen and (max-width: $mobile-landscape-width) {
  #main {
    #page-content {
      width:              100%;
    }

    aside {
      display:            none;
    }
  }
}

body {
  background-image:       image-url('bg-pattern.png');
  background-color:       #222;
}

#main {
  margin-top:             $page-top-margin;
  padding:                0;

  #page-content {
    float:                left;

    .list {
        li {
          @include background_image("common/decorative_separator.png");
          @include background_data("common/decorative_separator.png");
          @include background_size(100% $secondary-splitter-height);

          background-position:        bottom center;
          background-repeat:          no-repeat;
          padding-bottom:             $secondary-splitter-height + 20px;
          margin-bottom:              30px;
        }
    }
  }

  aside {
    font-family:          $brand-font;
    float:                left;
    text-align:           right;

    nav {
        @include background_image("common/decorative_separator.png");
        @include background_data("common/decorative_separator.png");
        @include background_size(100% $secondary-splitter-height);

        background-position:        bottom center;
        background-repeat:          no-repeat;
        padding-bottom:             $secondary-splitter-height + 20px;
        margin-bottom:              30px;

        li {
          margin-bottom:            8px;
        }
    }
  }
}
