.list {
  width:                    96%;
  padding-right:            0;
  
  li {
    float:                    left;
    width:                    46%;
    margin-bottom:            2%;
    margin-right:             4%;
  }
}
.pagination {
  text-align:               center;
}
