.list {
  overflow-y:                       scroll;
  width:                            100%;
  
  li {
    float:                          left;
    width:                          46%;
    margin-bottom:                  2%;
    margin-right:                   4%;
  }
}
.pagination {
  text-align:                       center;
}
