/* Fonts */
$main-font:                 'Helvetica Neue', 'Helvetica', 'Arial', 'Sans Serif';
$bg-color:                  #DFDFDF;
$bg-alt-color:              black;
$decor:                     none;

/* Colour */
$grad:                      #444;
$dark:                      darken($grad, 20%);
$lite:                      lighten($grad, 20%);
$decor-color:               $dark;
$decor-alt-color:           $lite;

/* REQUIRES */
@import "reset.css.scss";
@import "text.css.scss";
@import "layout.css.scss";
@import "nav.css.scss";
@import "lists.css.scss";
@import "common.css.scss";
@import "posts.css.scss";
@import "about.css.scss";