/*nav {
  
  ul {
    width:                    100%;
    height:                   100%;
    li {
      float:                    left;
      height:                   100%;
      text-align:               center;
      
      a {
        display:                  block;
        vertical-align:           center;
        width:                    100%;
      }
    }
  }
  
  &#main_nav {
    height:                   4%;
    background-color:         $bg-alt-color;
    
    ul li {
      width:                    20%;
    }
  }
  &.subnav {
    padding-top:              1%;
    padding-bottom:           1%;
        
    ul li {
      font-size:                0.95em;
      float:                    right;
      text-align:               right;
      margin-left:              3%;
    }
  }
}

div.dummy_nav_spacer,
.back_link {
  width:                    92%;
  height:                   4%;
  padding:                  1% 4%;
}

.back_link {
  text-align:               right;
  display:                  block;
}*/