* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block
}

body {
  line-height: 1;
  font-family: $main-font;
  background-color: $background-color;
}

ol, ul {
  list-style: none;
}

blockquote {
  quotes: none;
  &:before, &:after {
    content: '';
    content: none;
  }
}

q {
  quotes: none;
  &:before, &:after {
    content: '';
    content: none;
  }
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}