
* {
  margin:                         0;
  padding:                        0;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, nav, section {
  display:                        block;
}

audio, canvas, video {
  display:                        inline-block;
  *display:                       inline;
  *zoom:                          1;
}

a {
  text-decoration:                none;
}

html {
  font-family:                    Helvetica Neue, Helvetica, Arial, Sans-serif;
  font-size:                      100%;
  font-weight:                    $font-weight-light;
  letter-spacing:                 0.15em;
  color:                          white;
}
