body {
  line-height:              1.4em;
  font-family:              $main-font;
  font-size:                100%;
  font-weight:              100;
  letter-spacing:           0.1em;
}

h1, h2, h3, h4, h5 {
  color:                    $dark;
}

h1 { font-size: 2.5em;    margin: 0 0 1em 4%; }     /* 40px/16 = 2.25em */
h2 { font-size: 1.875em;  margin-bottom: 0.70em; }  /* 30px/16 = 1.875em */
h3 { font-size: 1.5em;    margin-bottom: 0.4em; }   /* 24px/16 = 1.5em */
h4 { font-size: 1.25em;   margin-bottom: 0.2em; }   /* 20px/16 = 1.25em */
h5 { font-size: 1.125em;  margin-bottom: 0.1em; }   /* 18px/16 = 1.125em */
p  { font-size: 1em;      margin-bottom: 1em;  }    /* 16px/16 = 1em */

@media all and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
  h1 { font-size: 1.875em;  } /* 40px/16 = 2.25em */
  h2 { font-size: 1.5em;    } /* 30px/16 = 1.875em */
  h3 { font-size: 1.25em;   } /* 24px/16 = 1.5em */
  h4 { font-size: 1.125em;  } /* 20px/16 = 1.25em */
  h5 { font-size: 1em;  } /* 18px/16 = 1.125em */
  p  { font-size: 0.75em;   } /* 16px/16 = 1em */
}



a {
  color:                    $decor-color;
  text-decoration:          $decor;

  &:hover {
    color:                  $decor-alt-color;
  }
}

