<div id="edit_user admin">
	<div class="title_block clearfix">
		<h2>Edit User</h2>
		<%= link_to 'Back to Users', admin_users_path, :class => 'back_link' %>
	</div>

	<%= render :partial => 'shared/flash_messages' %>

	<%= render :partial => 'form' %>
</div>