<div id="nav">
	<ul>
		<li class="first"><%= link_to "Users", admin_users_path %></li>
		<li><%= link_to "Blog", admin_posts_path %></li>
		<li><%= link_to "Pictures", admin_pictures_path %></li>
		<li>Videos</li>
	</ul>
</div>